@tailwind base;
@tailwind components;
@tailwind utilities;


.fade-in {
    animation: fade-in 1s ease both;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}